{{define "AddGroup"}}
<!doctype html>
<html>
	<head>
		<title>Aarunit - Add Group</title>
	</head>
	<body>
		<span>Create a new user</span>
		<form method="POST" action="/group/addF">
			Group Name: * <input type="text" name="name" />
			<input type="Submit" value="Submit"/>
		</form>
	</body>
</html>
{{end}}