{{define "Main"}}
<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/styles.css"/>
		<title>Aarunit - Social news and info sharing</title>
	</head>
	<body>
		<div>
			<img src="images/logo.png" />
			<div>
				<a href="/user/login">login</a>
				<a href="/user/register">register</a>
			</div>
		</div>
	</body>
</html>
{{end}}